html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: "News Cycle", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-rows: 55px 1fr 1fr 1fr;
  grid-template-areas:
    " . news ."
    ". article input"
    ". article ."
    ". . addbtn";
  text-align: center;
  background-color: #e6f3f5;
}

.news {
  grid-area: news;
  height: 50px;
}

.news h1 {
  margin: 0;
}
.content {
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  grid-area: article;
  width: 400px;
  height: 645px;
  /* border: 5px solid #c3d6db; */
  border: solid 5px #b3cbcf80;
  border-radius: 10px;
  background-color: #e6f3f5;
  box-shadow: inset 0 0 30px #9fb7bb80;
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  display: none;
}

.article-container {
  width: 350px;
  height: auto;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 5px #668a94;
  background-color: #e2edf0;
  box-shadow: 5px 5px #466068;
  overflow-wrap: break-word;
}

.article-id {
  display: none;
}
.article-title {
  flex: 1;
  text-align: center;
  margin: auto;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.article-author {
  flex: 1;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.article-created {
  flex: 1;
  font-size: 12px;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.article-content {
  flex: 2;
  text-align: center;
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  width: 90%;
}

.article-remove {
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: 5px;
}
.add-btn-container {
  grid-area: addbtn;
  grid-row-start: 4;
  grid-row-end: 4;
  display: flex;
  flex-direction: column-reverse;
  z-index: 99;
}
.add-btn {
  display: flex;
  align-self: flex-end;
  width: 150px;
  height: 150px;
  background-color: #668a94;
}
.add-btn::before {
  content: "+";
  height: auto;
  width: 200px;
  font-size: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: courier;
  color: white;
  margin: auto;
}

.input-container {
  grid-area: input;
  background-color: #668a94;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-right: 5%;
  width: 100%;
  color: #f8f8f8;
  z-index: 999;
}

.input-fieldset {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 50%;
  height: 400px;

  display: flex;
  flex-direction: column;
}
.input-container {
  margin-top: 5px;
  margin-bottom: 30px;
}
.input-close {
  margin-left: 95%;
  width: 25px;
  height: 25px;
}

.article-upper {
  display: flex;
}

.article-edit {
  margin-top: 5px;
  margin-right: 3px;
}
@media screen and (max-width: 685px) {
  .container {
    grid-template-areas:
      " . news ."
      ". article ."
      ". article ."
      ". article addbtn";
  }
  .input-container {
    grid-area: article;
  }
}

@media screen and (max-width: 580px) {
  .container {
    grid-auto-rows: 55px 1fr 1fr 125px;
  }

  .content {
    width: 300px;
    height: 500px;
  }
  .add-btn-container {
    width: 125px;
    height: 125px;
  }
  .add-btn {
    width: 125px;
    height: 125px;
  }

  .article-container {
    width: 255px;
    height: auto;
  }
}

@media screen and (max-width: 440px) {
  .container {
    grid-template-areas:
      " . news ."
      ". article input"
      ". article ."
      "addbtn addbtn addbtn";
  }
  .add-btn-container {
    width: 100%;
  }
  .add-btn {
    width: 100%;
  }
  .content {
    width: 340px;
    height: 435px;
  }
  .article-container {
  }
}

@media screen and (max-width: 360px) {
  .content {
    width: 300px;
  }
}

@media screen and (max-height: 670px) {
  .content {
    height: 360px;
  }
}
@media screen and (max-height: 670px) {
  .content {
    height: 275px;
  }
}
